<section class="users-new-page">
  <div class="page-title">
    <%= image_tag "MIkujinoyasiro_logo.png" %>
    <h3>ログイン</h3>
    <p>LOG IN</p>
  </div>
  <div>
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>
  </div>


  <%= form_tag("/login", class: "users-signup-sheet", data: { turbo: false }) do %>
    <div class="users-index-item">
      <div class="users-outline">
        <p>宛先(e-mail)</p>
        <input name="email" value="<%= @email %>" >
        <p>暗証番号</p>
        <input type="password" name="password"  >
      </div>
    </div>

    <div class="omikuji-botton-default">
      <div>
        <input type="submit" value="ログイン" >
      </div>
    </div>
  <% end %>

</section>

