<div class="home-about">
  <div class="page-title">
    <img src="MIkujinoyasiro_logo.png">
    <h2>みくじの社について</h2>
    <p>ABOUT MIKUJI-NO-YASHIRO<p>
  </div>
  <p>
    人生は、選択の連続。
    正解がわからない日もある。

    そんなときは、
    ほんの少しだけ“運”に任せてみませんか？

    みくじの社は、
    あなたの一日をそっと占う、小さな神社アプリ。

    大吉でも、凶でも。
    本当に大事なのは、そのあとどう動くか。

    今日の一歩を、少しだけ軽くするために。
  </p>
</div>