    <section id="home-page">
      <div id="title">
        <img src="MIkujinoyasiro_logo.png">
        <h2>みくじの社</h2>
        <h3>MIKUJI - NO - YASIRO</h3>
        <div id="subtitle-container">
          <p>今日をひらく</p>
          <img src="MuryouOmikuji.png">
          <p>小さなご神託</p>
        </div>
      </div>

      <div class="circle-container">
        <div class="circle circle1"></div>
        <div id="hole" class="circle circle2">
          <!-- <img src="OmikujiHuda36KB.jpg"> -->
        </div>
        <div class="circle circle3"></div>
      </div>

      <div class="pull-omikuji">
        <div>
          <p>おみくじを引く</p>
        </div>
      </div>
    </section>
