<section id="home-page">
  <div id="title">
    <%= image_tag "MIkujinoyasiro_logo.png" %>
    <h2>みくじの社</h2>
    <h3>MIKUJI - NO - YASIRO</h3>
    <div id="subtitle-container">
      <p>今日をひらく</p>
      <%= image_tag "MuryouOmikuji.png" %>
      <p>小さなご神託</p>
    </div>
  </div>

  <div class="circle-container" data-controller="home" data-home-image-value="<%= asset_path('OmikujiHuda36KB.jpg') %>">
    <div class="circle circle1"></div>
    <div id="hole" class="circle circle2">
      <!-- <ここに画像が入る> -->
    </div>
    <div class="circle circle3"></div>
  </div>

  <%= link_to("/omikujis/select") do %>
    <div class="pull-omikuji">
      <div>
        <p>おみくじを引く</p>
      </div>
    </div>
  <% end %>
</section>
