<section id="pull-page" data-controller="omikujis-index" data-omikujis-index-image-value="<%= asset_path('OmikujiHuda36KB.jpg') %>" data-omikujis-index-url-value="/omikujis/show">
  <div class="page-title">
    <%= image_tag "OmikujiwoHiku.png" %>
    <h3>おみくじを引く</h3>
    <p>DRAW A FORTUNE</p>
  </div>
  <p>心を静めて、今のご神託をいただきましょう。この一枚のおみくじは、偶然ではなく必然の導き。今日の歩みを照らす小さな光となりますように。</p>
  <div id="omikuji-container">
  </div>
  <div id="add-omikuji" class="pull-omikuji is-visible" data-action="click->omikujis-index#add">
    <div>
      <p>おみくじを追加する</p>
    </div>
  </div>
</section>
